<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaowen.dao.CooperationMapper">

	<resultMap type="cooperation" id="baseResult">
		<id column="id" property="id" jdbcType="BIGINT"></id>
		<result column="name" property="name" jdbcType="VARCHAR"></result>
		<result column="type" property="type" jdbcType="TINYINT"></result>
		<result column="profile" property="profile" jdbcType="VARCHAR"></result>
		<result column="content" property="content" jdbcType="VARCHAR"></result>
		<result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"></result>
		<result column="create_id" property="createId" jdbcType="BIGINT"></result>
		<result column="update_id" property="updateId" jdbcType="BIGINT"></result>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"></result>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
		<result column="lang" property="lang" jdbcType="TINYINT"></result>
	</resultMap>
	
	<sql id="tableName">cooperation</sql>
	<sql id="baseColumn">id,name,type,profile,content,delete_flag,create_id,update_id,update_time,create_time</sql>
	<sql id="noIdColumn">name,type,profile,content,delete_flag,create_id,update_id,update_time,create_time</sql>
	<insert id="add" parameterType="cooperation">
		insert into <include refid="tableName"></include>
		(<include refid="noIdColumn"/>)
		VALUES
		(#{name},#{type},#{profile},#{content},0,#{createId},#{updateId},now(),now())
	</insert>

	<update id="update" parameterType="cooperation">
		UPDATE <include refid="tableName"/>
		set update_time = now()
		<if test="updateId != null">
			,update_id = #{updateId}
		</if>
		<if test="name != null and name != ''">
			,name = #{name}
		</if>
		<if test="profile != null and profile != ''">
			,profile = #{profile}
		</if>
		<if test="type != null">
			,type = #{type}
		</if>
		<if test="content != null and content != ''">
			,content = #{content}
		</if>
		WHERE id = #{id}
	</update>

	<update id="delete" parameterType="cooperation">
		UPDATE  <include refid="tableName"/>
		set delete_flag = 1
		WHERE delete_flag = 0
		<if test="id != null">
			AND id = #{id}
		</if>
		<if test="ids != null">
			OR  id in
			<foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</update>

	<select id="queryByPage" parameterType="cooperation" resultMap="baseResult">
		SELECT <include refid="baseColumn"/>
		FROM <include refid="tableName"/>
		WHERE delete_flag = 0
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="type != null">
			and type = #{type}
		</if>
		<if test="lang != null">
			and lang = #{lang}
		</if>
		<choose>
			<when test="sort != null and sort != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY create_time DESC
			</otherwise>
		</choose>
	</select>

	<select id="queryById" parameterType="cooperation" resultMap="baseResult">
		SELECT <include refid="baseColumn"/>
		FROM <include refid="tableName"/>
		WHERE id = #{id}
	</select>
</mapper>