<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaowen.dao.MessageMapper">

	<resultMap type="messageVO" id="baseResult">
		<id column="id" property="id" jdbcType="BIGINT"></id>
		<result column="name" property="name" jdbcType="VARCHAR"></result>
		<result column="email" property="email" jdbcType="VARCHAR"></result>
		<result column="telephone" property="telephone" jdbcType="VARCHAR"></result>
		<result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"></result>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
	</resultMap>
	
	<sql id="tableName">message</sql>
	<sql id="baseColumn">id,name,email,telephone,message,delete_flag</sql>

	<insert id="add" parameterType="messageDTO">
		insert into <include refid="tableName"></include>
		(name,email,telephone,message,delete_flag,create_time)
		VALUES
		(#{name},#{email},#{telephone},#{message},0,now())
	</insert>

	<update id="delete" parameterType="messageDTO">
		UPDATE  <include refid="tableName"/>
		set delete_flag = 1
		WHERE delete_flag = 0
		<if test="id != null">
			AND id = #{id}
		</if>
		<if test="ids != null">
			OR  id in
			<foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</update>

	<select id="queryById" parameterType="messageDTO" resultMap="baseResult">
		SELECT <include refid="baseColumn"/>
		FROM <include refid="tableName"/>
		WHERE delete_flag = 0
		and id = #{id}
	</select>

	<select id="queryByPage" parameterType="messageDTO" resultMap="baseResult">
		SELECT <include refid="baseColumn"/>
		FROM <include refid="tableName"/>
		WHERE delete_flag = 0
		<if test="id != null">
			and id = #{id}
		</if>
		<choose>
			<when test="sort != null and sort != ''">
				ORDER BY ${sort} ${order}
			</when>
			<otherwise>
				ORDER BY create_time DESC
			</otherwise>
		</choose>
	</select>
</mapper>